$primary-color: #5c6ac4;
$default-color: #515365;
$warning-color:#E6A23C;
.design-tabs {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #e0e6ed;
    .nav-item {
        margin-bottom: -1px;
        .nav-link {
            border: 1px solid transparent;
            display: block;
            padding: 8px 15px;
            font-weight: 500;
            font-size: 14px;
            color: $primary-color;
            i{
                font-size: 20px;
                font-weight: normal;
            }
        }
        .nav-link.active {
            color: $primary-color;
            background-color: #fff;
            border-color: #e0e6ed #e0e6ed #fff;
        }
        .nav-link:hover, .nav-link:focus{
            text-decoration: none;
        }
    }
} 
.design-tab-content {
    border: 1px solid #e0e6ed;
    border-top: none;
    padding: 10px;
    background: #fff;
    .tab-pane {
        padding: 0 30px 0 30px;
    }
    .tab-pane {
        display: none;
    }
    .tab-pane.active{
        display: block;
    }
}