<section id="main-footer-area">
	<div class="container">
		<h2>开始体验套餐</h2>
		<h4>跨境电商一件代发的红利来了，相信我们，不会让你错过</h4>
		<a class="btn btn-primary btn-isReg" href="javascript:;" >立即免费试用</a>
	</div>
</section>
<section id="main-footer">
	<div class="container">
		<div class="footer-top">
			<div class="top1">
				<i></i>
				SaaS化场景服务
			</div>
			<div class="top2">
				<i></i>
				7*12小时贴心服务
			</div>
			<div class="top3">
				<i></i>
				线上线下1对1专业服务
			</div>
		</div>
		<div class="footer-bottom">
			<div class="">
				<a class="d-block"  href="agreement.html">
					用户协议
				</a>
				 ｜ 
				<a class="d-block"  href="privacy.html">
					隐私政策
				</a>
			</div>
			<div class="copy">
				&copy;2023 OURMALL.COM版权所有
			</div>
		</div>
	</div>
</section>
